:root {
	--bs-bg-light: #a89984;
	--bs-body-color-light: #f8f9fa;
	--bs-card-bg-light: #2d2f33;

	--bs-bg-dark: #282828;
	--bs-body-color-dark: #f8f9fa;
	--bs-card-bg-dark: #2d2f33;
}

body.dark-mode {
	background-color: --bs-body-color-dark;
	color: #f8f9fa;
}
body {
	background-color: --bs-bg-light;
}

body.dark-mode .navbar-brand {
	color: #f8f9fa
}
body #navbar {
	color: #adb5bd;
	background-color: #86a788;
}

body #navbar .nav-link:hover {
	color: #ffffff;
}
body.dark-mode #navbar {
	background-color: #343a40;
	color: #ffffff;
}

body.dark-mode #navbar .nav-link {
	color: #adb5bd;
}

body.dark-mode #navbar .nav-link:hover {
	color: #ffffff;
}

body.dark-mode #navbar .btn-outline-primary {
	color: #ffffff;
	border-color: #6c757d;
}

body.dark-mode #navbar .btn-outline-primary:hover {
	background-color: #6c757d;
	color: #ffffff;
}
body.dark-mode .card {
	background-color: var(--bs-card-bg-dark);
	color: var(--bs-body-color-dark);
}
