{% extends 'layout/base.html' %} {% block content %}
<section>
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<div class="card mb-4">
					<div class="card-body">
						<div class="mb-3">
							<label for="ciphertext" class="form-label"
								>Text</label
							>
							<textarea
								class="form-control"
								id="ciphertext"
								rows="3"
								type="text"
								placeholder="Enter encrypted text"
							></textarea>
						</div>
						<div class="mb-3">
							<label for="key1" class="form-label">Key1</label>
							<input
								class="form-control"
								id="key1"
								type="text"
								placeholder="Enter key1"
							/>
						</div>
						<div class="mb-3">
							<label for="key2" class="form-label">Key2</label>
							<input
								class="form-control"
								id="key2"
								type="text"
								placeholder="Enter key2"
							/>
						</div>
						<div class="row mb-3">
							<div class="text-center col-sm-2">
								<button
									type="submit"
									class="btn btn-success"
									onclick="encode()"
								>
									Encrypt
								</button>
							</div>
							<div class="text-center col-sm-2">
								<button
									type="submit"
									class="btn btn-success"
									onclick="decode()"
								>
									Decrypt
								</button>
							</div>
						</div>
						<p id="result"></p>
						<p id="error"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	async function encode() {
		const text = document.getElementById("ciphertext").value;
		const key1 = document.getElementById("key1").value;
		const key2 = document.getElementById("key2").value;
		try {
			const response = await fetch("/api/vigenere/encode", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({ text, key1, key2 }),
			});

			const result = await response.json();
			document.getElementById("result").innerText = result.encoded
				? `Encoded Text: ${result.encoded}`
				: `Error: ${result.error}`;
		} catch (error) {
			document.getElementById(
				"result"
			).innerText = `Error: ${error.message}`;
		}
	}
	async function decode() {
		const text = document.getElementById("ciphertext").value;
		const key1 = document.getElementById("key1").value;
		const key2 = document.getElementById("key2").value;
		try {
			const response = await fetch("/api/vigenere/decode", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({ text, key1, key2 }),
			});

			const result = await response.json();
			document.getElementById("result").innerText = result.decoded
				? `Encoded Text: ${result.decoded}`
				: `Error: ${result.error}`;
		} catch (error) {
			document.getElementById(
				"result"
			).innerText = `Error: ${error.message}`;
		}
	}
</script>
{% endblock %}
