{% extends 'layout/base.html' %} {% block content %}
<section>
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-body">
						<div class="mb-3">
							<h1 class="card-title text-center mb-4">
								Double Key Cipher Tool
							</h1>
							<label for="ciphertext" class="form-label"
								>Text</label
							>
							<textarea
								class="form-control"
								id="ciphertext"
								rows="3"
								placeholder="Enter text"
							></textarea>
						</div>
						<div class="mb-3">
							<label for="key1" class="form-label">Key1</label>
							<input
								type="text"
								class="form-control"
								id="key1"
								placeholder="Enter key1"
							/>
						</div>
						<div class="mb-3">
							<label for="key2" class="form-label">Key2</label>
							<input
								type="text"
								class="form-control"
								id="key2"
								placeholder="Enter key2"
							/>
						</div>
						<div class="row g-2 mb-3">
							<div class="col text-center">
								<button
									type="button"
									class="btn btn-success btn-custom w-100"
									onclick="encode()"
								>
									Encrypt
								</button>
							</div>
							<div class="col text-center">
								<button
									type="button"
									class="btn btn-danger btn-custom w-100"
									onclick="decode()"
								>
									Decrypt
								</button>
							</div>
						</div>
						<h5>Result</h5>
						<div
							id="result"
							class="p-3 border rounded bg-light text-dark"
						></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="static\js\vigenere.js"></script>
{% endblock %}
